@media screen and (min-width: 768px) and (max-width: 1024px) {
 
    .end-web {
        flex-direction: column;
        padding: 0 16px 20px 16px;
    }
    .title-end {
        width: 100%;
        font-size: 15px;
        padding: 16px 0 0 0;
        color: #94a3b8;
    }
    .support {
        margin: 20px 0 0 0;
    }
    .support h3 {
        margin-top: 10px;
        padding-bottom: 8px;
    }
    .support li {
        padding-bottom: 8px;
        font-family: times new roman, sans-serif;
        list-style: none;
    }
    .support a {
        text-decoration: none;
        color: #94a3b8;
    }
    hr{
        border: 0;
        height: 1px;
        background-color: #0b1120;
    }
}