body {
    background-color: #1a2332;
    color: #ffffff;
}
hr {
    border: 0;
    height: 1px;
    background-color: #0b1120;
}

.watch-container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 15px;
}

/* Tỉ lệ chuẩn 16:9 cho Video Player */
.video-player-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
}

.video-player-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.movie-details {
    margin-top: 20px;
    background-color: #1a2332;
    padding: 20px;
    border-radius: 8px;
}

.movie-details h2{
    font-size: 24px;
    color: #fff;
    margin:20px 15px 0px 0px;
}

.movie-meta {
    font-size: 16px;
    color: #9ca3af;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.description {
    line-height: 1.6;
    color: #d1d5db;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}
.video-player-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.episodes-wrapper{
    margin-top: 20px;
}
.episodes-wrapper h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}
.episodes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#episodes-container {
    max-height: 300px;
    overflow-y: auto;         /* Cho phép cuộn dọc */
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
    background-color: #1a2332;
    border-radius: 8px;
    cursor: grab;
    user-select: none;
    -ms-overflow-style: none;  /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none;     /* Ẩn thanh cuộn trên Firefox */
}
#episodes-container::-webkit-scrollbar {
    display: none;
}